<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Profession</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>熟悉数字图像处理原理 熟练使用OpenCV跨平台视觉库 </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>熟练使用C/C编程 熟悉数据结构与算法</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>熟悉Linux操作系统 深入了解多线程及并发编程 能够使用git工具实现代码版本控制</p>
    </div>
  </div>
</div>
